html{
    scroll-behavior: smooth;
  
}
body {
    background-color: lightblue;
  }
h1{
    font-size: 25px;
    text-align: center;
   
}
a:hover{
    text-decoration: none;
    color: rgb(243, 14, 52);
}

a:visited{
    text-decoration: none;
    color: aqua;
} 
a:active{
    text-decoration: none;
    color:rgb(55, 225, 55);
}
table, th, td{
    border: 1px solid black;
}
